<div class="row">
    <div class="col-4 bg-dark">
        <h2 class="text-center text-light">Course Videos</h2>
        <span></span>
    </div>
    <div class="col-8">
        <h2>Now Playing: Course Name</h2>
        <video src=""></video>
        <h3>Lesson Description</h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, error blanditiis fugit mollitia hic,
            deleniti
            suscipit similique expedita, maiores corrupti quis laborum natus officiis nobis sapiente. Aliquid facilis
            obcaecati deleniti.
        </p>
        <h3>Course Progress</h3>

    </div>
</div>