<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <section class="col-3 bg-dark tutorial">
                <h2 class="text-center text-light mt-4 mb-4">Course Videos</h2>
                <ul>
                    @for (item of selectedCourse; track $index) {
                    <li class="list-group-item bg-transparent mb-4" (click)="watchVideo(item)">
                        <a class="text-light" (click)="getName($index)"> {{$index+1}}. {{item.videoTitle}}</a>
                        <span id="watch" class="badge  float-end"
                            [ngClass]="item.watched ? 'bg-success' : 'bg-danger'">{{ item.watched ? 'Watched' : 'New' }}
                        </span>
                    </li>
                    <hr>
                    }


                </ul>
            </section>
            <section class="col-8 video-content ms-4">
                <h2>Now Playing: {{selectedCourse[selectedIndex].videoTitle}}</h2>
                <div class="vid">
                    <iframe class="video-player" loading="lazy" width="100%" height="100%" [src]="safeUrl"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen autoplay="true"></iframe>
                </div>
                <div class="video-description">
                    <h3>Lesson Description</h3>
                    <p>
                        {{selectedCourse[selectedIndex].videoDescription}}
                    </p>
                    <hr>
                    <!-- <h3>Course Progress</h3>
                    <div class="progress mt-4">
                        <div class="progress-bar" role="progressbar" [style.width.%]="progress"
                            [attr.aria-valuenow]="progress" aria-valuemin="0" aria-valuemax="100">
                            {{ progress }}%
                        </div>
                    </div> -->
                </div>
            </section>
        </div>
    </div>
</div>